@model GigHub.Core.ViewModels.GigDetailsViewModel

<div id="gigDetails">

    @Model.Gig.Artist.Name

    @if (User.Identity.IsAuthenticated)
    {
        <button data-user-id="@Model.Gig.ArtistId"
                class="btn @(Model.IsFollowing ? "btn-info" : "btn-default")
                            btn-sm js-toggle-follow">
            @(Model.IsFollowing ? "Following" : "Follow")
        </button>
    }

    <p>
        Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
    </p>

    @if (User.Identity.IsAuthenticated && Model.IsAttending)
    {
        <p>You are going to thie event</p>
    }
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            GigDetailsController.init("#gigDetails");
        });
    </script>
}